<h1>Workout Information</h1>
<h2>Enter A New Workout</h2>
<form id="addNew" action="/insert">
	<fieldset>
		<legend>New Workout Entry</legend>
		<label for="name">Exercise Name: </label>
		<input type="text" name="name" id="name">
		<br />
		<label for="reps">Repititions: </label>
		<input type="text" name="reps" id="reps">
		<br />
		<label for="weight">Total Weight: </label>
		<input type="text" name="weight" id="weight">

		<label for="lbs">Pounds (lbs): </label>
		<input type="radio" name="lbs" value="1" id="lbs">
		<label for="lbs">Kilograms (kg): </label>
		<input type="radio" name="lbs" value="0" id="lbs">

		<br />
		<label for="date">Date Perfomred (format example: 2016-5-25): </label>
		<input type="text" name="date" id="date">
		<br />
		<input type="submit" id="submit" value="Upload Workout">
	</fieldset>
</form>

<p>{{results}}</p>

<script src="/js/script.js"></script>